
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Product Registration</h1>
                    <h5>Get Free Membership</h5><hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                      <label  class="form-label">Name</label>
                      <input  formControlName="name" placeholder="Enter Your Name"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <!-- <div class="mb-3">
                        <label formControlName="mobile" placeholder="Enter mobile no."  class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div> -->
                      <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input formControlName="email" placeholder="Enter Your emailId"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input formControlName="password" placeholder="Enter Your Password"  type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </form>
                  <a routerLink="/login">Already Member ? Click to login !</a>
            </div>
        </div>
    </div>
</div>
